<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Club Project Post</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Club Project Post</h1>
    <form action="#" th:action="@{/enroll}" th:object="${clubRequest}" method="post">
        <p>Club name: <input type="text" th:field="*{club.name}" /></p>
        <p>Club address: <input type="text" th:field="*{club.address}" /></p>
        
        <p>Person first name: <input type="text" th:field="*{person.firstName}" /></p>
        <p>Person last name:: <input type="text" th:field="*{person.lastName}" /></p>
        
    	<p>Car plate: <input type="text" th:field="*{car.plate}" /></p>
    	
        <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
    </form>
</body>
</html>